    /*        
    .parallax {
                height: 100%;
                overflow: visible;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
       
    
        * {
<<<<<<< HEAD
			border: solid grey .2px;
        }

.container-span.table {
    margin:0;
    padding:0;
    background: url("table1.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: 100%;
    font-family: "Avenir";
    position: relative;
    color: white;
    }
    .col-12.d-flex.justify-content-end { 
        padding: 0;
        }
        .nav-item {
            list-style: none;
            font-size: 3vh;
            letter-spacing: .05vh;
            font-weight: 400;
            padding: 2vw;
        }
    @font-face {
        font-family: ButlerBlack;
        src: url(Butler_Black.otf);
        }
    .row.text {
        padding: 0;
        margin: 0;
    }
        #plsEnjoy {
            font-family: ButlerBlack;
            font-size: 8vw;
            font-weight: bold;
            letter-spacing: 0.015vw;
            line-height: 6vw;
            padding: 6vw 0 0 3vw;
=======
			border: solid black .5px;
		}
    */  
        
        
        .header {
            justify-content: center;
            
            
            transform: translateX(.75%);
        }

        .nav {
            margin: 3vh 4vh 0 4vh;
            color: white;
            font-size: 2.75vh;
            font-weight: 300;
            border: 0px;
        }

        .body {
            background-image: url("coffeetable.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: ;
            overflow: visible;
            font-family: "Avenir";
            object-fit: cover;
            padding: 0;
            margin: 0;
            position: relative;
        }

        .text {
            color: white;
>>>>>>> parent of 901fe95... updatesJune3
            margin: 0;
            
        }
<<<<<<< HEAD
        #Logo {
            min-width: 10vw;
            max-width: 14vw;
            padding: 1vw 0 0 2vw;
            margin: 0;
        }
    .row.ethos1 {
        margin: 4vw 0 0 0;
        }
    .col-6.ethos1 {
        color: white;
        background-color: none;
        margin: 0 0 1.25vh 0;
        padding: 0 0 0 12vw;
        font-family: "Avenir";
        font-size: .9em;
        font-weight: 175;
        letter-spacing: 0.017em;
        line-height: 1.1em;
        }
    .col-12-span.ethos1 {
        color: white;
        background-color: none;
        margin: 0 2vh 1.25vh 0;
        padding: 0 5vh 0 12vw;
        font-size: .9em;
        font-weight: 175;
        letter-spacing: 0.017em;
        line-height: 1.1em;
    }
    .row.ethos2 {
        margin: 2vh 0 0 0;
    }
        .col-6.ethos2 {
            color: white;
            margin: 0 0 1.25vh 0;
            padding: 0 0 0 12vw;
            font-size: 1em;
            font-weight: 175;
            letter-spacing: 0.017em;
            line-height: 1.1em;
            }
/*
=======

>>>>>>> parent of 901fe95... updatesJune3
        @media (min-width:1030px) {
            .responsive-embed {
                padding-top: 5%;
            }
        }

        .white {
            margin: 0;
            padding: 0;
        }

        .logoWRCC {
            padding-left: 12%;
            text-align: right;
        }
<<<<<<< HEAD

=======
>>>>>>> parent of 901fe95... updatesJune3

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
<<<<<<< HEAD
=======
 
        .Logo {
            padding-top: ;
            padding-bottom: 1vh;
            min-width: 8vw;
            max-width: 20vw;
        }

        .section {
            height: 30vh;
            justify-content: center;
        }
>>>>>>> parent of 901fe95... updatesJune3

        .vertical {
            transform-origin: right;
            transform: rotate(-90deg) translateX(98%) translateY(-30%);
            padding-bottom: 2.5%;
            color: rgb(63, 63, 63);
            animation-delay: 5s;
            animation: fade-in 5s;
        }

        .text {
            padding-left: 7.5%;
            padding-right: 5%;
            border-left: rgb(120, 120, 120) solid;
            animation-delay: 5s;
            animation: fade-in 5s;
        }

        @media (max-width: 1030px) {
            .text {
                border-left: 0px;
            }
        }

        @media (max-width: 355px) {
            .logoWRCC {
                padding: auto;
            }
        }
        @media (min-width: 1200px) {
            .logoWRCC {
                max-width: 100em;
            }
        }
<<<<<<< HEAD
*/
=======

        @font-face {
            font-family: ButlerBlack;
            src: url(Butler_Black.otf);
        }

        #plsEnjoy {
            font-family: ButlerBlack;
            font-size: 8vh;
            font-weight: bold;
            letter-spacing: 0.015em;
            line-height: 0.9em;
            padding-top: .5em;
        }

        #ethos {
            font-size: 0.9em;
            line-height: 1.3;
            margin-top: 7.5%;
            margin-bottom: 7.5%;
            max-width: 28em;
        }
>>>>>>> parent of 901fe95... updatesJune3

        #address {
            letter-spacing: 0.15em;
            padding-bottom: 3em;
            padding-right: 7.5%;
        }

        #train-station {
            font-size: 0.7em;
            vertical-align: middle;
        }
<<<<<<< HEAD
    
    .container-span.study {
        background: url("working.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
        }
    .container-span.menu {
        background: url("latteLeft2.jpg");
        background-repeat: no-repeat;
        background-size: 100%;
    }
    #menu {
        width: 80%;
        float: right;
    }

.footer {
=======

        .feed {
            margin: none;
            padding: none;
        }

        .footer {
>>>>>>> parent of 901fe95... updatesJune3
            bottom: 0;
            width: ;
            margin: 0;
            background-image: ;
            font-family: "Avenir";
            padding: 2% 0 2% 0;
        }

        #icons {
            padding: 0 0 .2% 0;
            margin: 0;
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        #instagram {
            font-size: 140%;
            color: black;
        }

        #facebook {
            font-size: 140%;
            color: black;
        }

        #email {
            padding: .2% 0 0 0;
            font-size: 90%;
            color: black;
            letter-spacing: 0.125em;
            display: flex;
            justify-content: center;

        }