/* {
    border: solid black .2px;
} */

body {
    position: relative;
}
.navbar-nav .nav-link.active {
text-decoration: underline;}

*, .col, #address {
    padding: 0;
    margin: 0;
}

@font-face {
    font-family: "BrandonBlk";
    src: url("Brandon GR./Brandon_blk.otf");
}

@font-face {
    font-family: "BrandonReg";
    src: url("Brandon GR./Brandon_reg.otf");
}

.left {
    text-align: left;
}

.right{
    text-align: right;
}

/* nav */
#navbar {
    font-family: "BrandonReg";
    background-color: rgba(255, 255, 255, 0.99);
    width: 100vw;
    position: fixed;
    z-index: 1;
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
    margin: 0;
    border-bottom: 1px solid rgb(141, 141, 141);
}
#navbar a {
    color: black;
    letter-spacing: .2vw;
}
#navbar a:hover {
    transition: .2s ease-in-out;
}
#ul {
    display: flex;
    justify-content: space-between;
}
/* nav */

.wTbig {
    font-family: "BrandonBlk";
    text-align: center;
    border-bottom: 1px solid rgb(75, 75, 75);
}
.wTmob {
    font-family: "BrandonBlk";
    border-bottom: 1px solid rgb(75, 75, 75);
}

.row75top {
    padding-top: 10vh;
}
.row100top {
    padding-top: 15vh;
}
.row75bottom{
    padding-bottom: 10vh;
}

.takeAway {
    text-align: right;
    padding-top: 2vh;
    padding-bottom: 10vh;
}
#takeAway {
    max-width: 20vw;
}
.cropAmy, .cropAdrian {
    text-align: right;
    padding-top: 1vh;
    padding-left: 10vw;
}

#ethos,
#caffeine, #espressoMenu {
    display: inline-block;
    font-family: "BrandonReg";
text-align: left;
}
.store {
    text-align: left;
    padding-top: 4vh;
}

.picasso {
    text-align: left;
    padding-top: 4vh;
}
.art {
    display: inline-block;
    font-family: "BrandonReg";
    text-align: right;
}

#ethosText {
letter-spacing: 0.1vw;
}


#espressoMenu {
        border: .1px solid rgb(0, 0, 0);
        padding: 2vh;
        margin-right: 5vw;
}

#menuText,
#menuMed {
    display: inline-block;
    text-align: right;
    font-family: "BrandonReg";
    letter-spacing: 0.1vw;
}

#formAddress, .menu {
    font-family: "BrandonReg";
}

#philosophy, #touch, #location, #hours {
    letter-spacing: .6vw;
    color: black;
}

#address {
    letter-spacing: .6vw;
    display: inline-flex;
    text-align: right;
}

#train-station {
    vertical-align: top;
}
#hours {
    display: inline-block;
    text-align: right;
}
#hour {
    text-align: left;
}

/*footer*/
#footer {
    font-family: "BrandonReg";
    letter-spacing: 0.15em;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.99);
    padding-top: 2vh;
    padding-bottom: 1vh;
    border-top: 1px solid rgb(75, 75, 75);
}
#enjoy {
    font-size: 1.6em;
    letter-spacing: .6vw;
    color: rgb(60, 95, 95);
}
#instagram {
    font-size: 2em;
}

/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */
@media (min-width: 1200px) {
    #ul {
        width: 81vw;
        padding-left: 17%;
    }
    #nav {
        font-size: 1.3em;
    }


    .wTmob, .wTxs {
        display: none;
    }

    #whiteRabbitImg {
        max-width: 65vw;
        padding-top: 12.5vh;
        padding-bottom: 7.5vh;
    }

    #ethosText {
        font-size: 1.3em;
        line-height: 1.3em;
    }
    #tap {
        width: 1em;
    }
/* XL XL XL XL XL XL XL XL XL XL XL XL */

    #espressoMenu {
        width: 30vw;
    }

    #menuMed {
        display: none;
    }
    #menuText {
        font-size: 1.3em;
        line-height: 1.3em;
    }

/* XL XL XL XL XL XL XL XL XL XL XL XL */
#philosophy,
    #touch,
    #location,
    #hours {
        line-height: 2em;
        font-size: 36px;
    }
    #address {
        line-height: 1.5em;
        font-size: 1.5em;
    }
    #train-station {
        font-size: 0.7em;
    }
    
    #cropAmy, #cropAdrian {
        max-width: 11vw;
    }
    #picasso {
        max-width: 10vw;
    }
    #outlineWR {
        width: 20vw;
        padding-top: 2vh;
    }
}
/* XL XL XL XL XL XL XL XL XL XL XL XL */
/* XL XL XL XL XL XL XL XL XL XL XL XL */



/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */
@media (min-width: 992px) and (max-width: 1199px) {
    #ul {
        width: 81vw;
        padding-left: 17%;
    }
    #nav {
        font-size: 1.2em;
    }

    .wTmob, .wTxs {
        display: none;
    }
    #whiteRabbitImg {
        max-width: 65vw;
        padding-top: 12.5vh;
        padding-bottom: 7.5vh;
    }
/* LARGE LARGE LARGE LARGE LARGE LARGE */
    #ethosText {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: 0.2vw;
    }
    #tap {
        width: 1em;
    }
/* LARGE LARGE LARGE LARGE LARGE LARGE */
    #espressoMenu {
        width: 30vw;
        margin: 0;
    }

    #menuText {
        font-size: 1.3em;
        line-height: 1.3em;
    }

    #menuMed {
        display: none;
    }

/* LARGE LARGE LARGE LARGE LARGE LARGE */
    #philosophy,
    #touch,
    #location,
    #hours {
        line-height: 2em;
        font-size: 32px;
    }
    #takeAway {
        max-width: 
    }
    #address {
        line-height: 1.5em;
        font-size: 1.5em;
    }

    #train-station {
        font-size: 0.6em;
    }

    #cropAmy, #cropAdrian {
        max-width: 13vw;
    }
    #picasso {
        max-width: 12vw;
    }
    #outlineWR {
        width: 20vw;
        padding-top: 2vh;
    }
}
/* LARGE LARGE LARGE LARGE LARGE LARGE */
/* LARGE LARGE LARGE LARGE LARGE LARGE */


/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */
@media (min-width: 768px) and (max-width: 991px) {
    #ul {
        width: 87.5vw;
        padding-left: 8%;
    }
    #nav {
        font-size: 1.1em;
    }
    .wTmob, .wTxs {
        display: none;
    }

/* MED MED MED MED MED MED MED MED MED */
    .wTbig {
    font-size: 4vw;
    }

    #whiteRabbitImg {
        max-width: 80vw;
        padding-top: 12.5vh;
        padding-bottom: 5vh;
    }

    #menuMed {
        display: none;
    }
    #takeAway {
        max-width: 25vw;
    }
    #ethos,
    #menuText {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: .2vw;
    }

/* MED MED MED MED MED MED MED MED MED */

    #espressoMenu {
        max-width: 35vw;
    }
    #philosophy,
    #touch,
    #location,
    #hours {
        line-height: 35px;
        font-size: 25px;
    }
    #address {
        line-height: 25px;
        font-size: 18px;
    }
    #train-station {
        font-size: 12px;
    }
    #cropAmy, #cropAdrian {
        max-width: 13vw;
    }
    #picasso {
        max-width: 12vw;
    }
    #outlineWR {
        width: 30vw;
        padding-top: 2vh;
    }
}
/* MED MED MED MED MED MED MED MED MED */
/* MED MED MED MED MED MED MED MED MED */


/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
@media (min-width: 576px) and (max-width: 767px) {
    
    #ul {
        width: 95vw;
    }
    #nav {
        font-size: 1.1em;
    }
    .wTbig, .wTxs {
        display: none;
    }
    .wTmob {
        text-align: center;
    }

    #whiteRabbitImg {
        max-width: 80vw;
        padding-top: 10vh;
        padding-bottom: 5vh;
    }

    #ethos, #menuText {
        font-size: 18px;
        line-height: 25px;
        letter-spacing: .2vw;
    }

    #menuMed {
        display: none;
    }

    #caffeine {
        font-family: "BrandonReg";
        font-size: 17px;
        line-height: 25px;
    }
    #espressoMenu {
        max-width: 40vw;
    }
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
    #philosophy,
    #touch,
    #location,
    #hours {
        line-height: 35px;
        font-size: 25px;
    }

    #address {
        line-height: 25px;
        font-size: 18px;
    }

    #train-station {
        font-size: 12px;
    }
    .cropAmy, .cropAdrian {
        padding-top: 1vh;
        padding-left: 7vw;
    }
    #cropAmy, #cropAdrian {
        max-width: 20vw;
    }
    #picasso {
        max-width: 18vw;
    }
    #outlineWR {
        width: 40vw;
        padding-top: 2vh;
    }
}
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */
/* SSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSSS */


/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
@media (max-width: 575px) {
    #ul {
        width: 92.5vw;
    }
    #nav {
        padding:0;
        font-size: .8em;
    }
    .nav-link {
        padding: 0;
        margin: 0;
    }

    .wTbig, 
    .wTmob {
        display: none;
    }
    .wTxs {
        text-align: center;
        color: black;
        font-family: "BrandonBlk";
        border-bottom: 1px solid rgb(75, 75, 75);
    }
    #whiteRabbitImg {
        max-width: 80vw;
        padding-left: 2vw;
        padding-top: 12.5vh;
        padding-bottom: 5vh;
    }
    .cropAmy {
        padding-top: 1vh;
        padding-bottom: 1vh;
    }
#break {
    display: none;
}
.takeAway {
    padding-top: 1vh;
}
#amy {
    padding-top: 2vh;
}

    #ethos,
    #menuMed {
        font-size: 18px;
        line-height: 23px;
    }
#ethos {
    padding-left: 4vw;
    padding-right: 4vw;
}

#menuMed {
    padding-right: 4vw;
padding-left: 4vw;
padding-bottom: 4vh;
}

#espressoMenu {
    max-width: 85vw;
}
#address {
    padding-left: 30vw;
}
    /* XS XS XS XS XS XS XS XS  */
    #menuText {
        display: none;
    }

    #caffeine {
        font-family: "BrandonReg";
        font-size: 16px;
        line-height: 21px;
        padding-top:2vh;
        margin-left: 4vw;
        margin-right: 4vw;
    }

    #philosophy,
    #location,
    #touch,
    #hours {
        font-size: 23px;
        line-height: 35px;
    }

    #train-station {
        font-size: 0.7em;
    }

    .cropAmy, .picasso, .takeAway, #outlineWR {

    }

    #cropAmy, #cropAdrian, #takeAway, #outlineWR {
        max-width: 40vw;
    }
    #picasso {
        max-width: 35vw;
    }
}

/* XS XS XS XS XS XS XS XS XS */
/* XS XS XS XS XS XS XS XS XS */
