    /*        
    .parallax {
                height: 100%;
                overflow: visible;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
      
    
        * {
			border: solid white .5px;
		}
      */ 

        .container-span {
            margin:0;
            padding:0;
            background-image: url("coffeetable.png");
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            overflow: visible;
            font-family: "Avenir";
            position: relative;
        }

        .navbar-12 {
            padding: 0 2em 0 25em;
            font-family: "Avenir";
            font-weight: 200;
        }

        .nav-item {
            list-style: none;
            font-size: 2.75vh;
            font-weight: 300;
        }

        .text {
            color: white;
            margin: 0;
            
        }

        @media (min-width:1030px) {
            .responsive-embed {
                padding-top: 5%;
            }
        }

        .white {
            margin: 0;
            padding: 0;
        }

        .logoWRCC {
            padding-left: 12%;
            text-align: right;
        }

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
 
        .Logo {
            min-width: 10vw;
            max-width: 20vw;
        }

        .section {
            height: 30vh;
            justify-content: center;
        }

        .vertical {
            transform-origin: right;
            transform: rotate(-90deg) translateX(98%) translateY(-30%);
            padding-bottom: 2.5%;
            color: rgb(63, 63, 63);
            animation-delay: 5s;
            animation: fade-in 5s;
        }

        .text {
            padding-left: 7.5%;
            padding-right: 5%;
            border-left: rgb(120, 120, 120) solid;
            animation-delay: 5s;
            animation: fade-in 5s;
        }

        @media (max-width: 1030px) {
            .text {
                border-left: 0px;
            }
        }

        @media (max-width: 355px) {
            .logoWRCC {
                padding: auto;
            }
        }
        @media (min-width: 1200px) {
            .logoWRCC {
                max-width: 100em;
            }
        }

        @font-face {
            font-family: ButlerBlack;
            src: url(Butler_Black.otf);
        }

        #plsEnjoy {
            font-family: ButlerBlack;
            font-size: 8vh;
            font-weight: bold;
            letter-spacing: 0.015em;
            line-height: 0.9em;
        }

        #ethos {
            font-size: 0.9em;
            line-height: 1.3;
            margin-top: 7.5%;
            margin-bottom: 7.5%;
            max-width: 28em;
        }

        #address {
            letter-spacing: 0.15em;
            padding-bottom: 3em;
            padding-right: 7.5%;
        }

        #train-station {
            font-size: 0.7em;
            vertical-align: middle;
        }

        .feed {
            margin: none;
            padding: none;
        }

        .footer {
            bottom: 0;
            width: ;
            margin: 0;
            background-image: ;
            font-family: "Avenir";
            padding: 2% 0 2% 0;
        }

        #icons {
            padding: 0 0 .2% 0;
            margin: 0;
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        #instagram {
            font-size: 140%;
            color: black;
        }

        #facebook {
            font-size: 140%;
            color: black;
        }

        #email {
            padding: .2% 0 0 0;
            font-size: 90%;
            color: black;
            letter-spacing: 0.125em;
            display: flex;
            justify-content: center;

        }