    /*        
    .parallax {
                height: 100%;
                overflow: visible;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            } 
     */ 
        * {
			border: solid grey .2px;
        }
body {
    background: url("table1.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: 54% top;        }
    .container-span.table {
        color: white;
        font-family: "Avenir";
        font-size: 2.5vh;
        font-weight: 100;
        }
        .nav-item {
            list-style: none;
            font-size: 3vh;
            letter-spacing: .1vw;
            padding: 2vw;
        }
    .row-span.spacer1 { padding: 0; margin: 0;
            height: 1vw;
            font-size: 1vw;
            visibility: ; }
    .row.text { padding: 0; margin: 0; }
    @font-face {
        font-family: Butler-Black;
        src: url(Butler_Black.otf);
    } 
    .col-4.enjoy {
            padding: 3vw 0 0 0;
            font-family: Butler-Black;
            font-size: 10vw;
            letter-spacing: 0.01em;
            line-height: 9vw;
        }
        .col-2.logo {
            padding: 0;
        }
        #logo {
            min-width: 10vw;
            max-width: 14vw;
        }
    .row-span.spacer2 { padding: 0; margin: 0;
        height: 18vh;
        font-size: 1vw;
        visibility: ; }
    .row.ethos { padding: 0; margin: 0;
        letter-spacing: 0.018em;
        line-height: 1.15em;
        }
    #events {
        width: 100vw;
    }
    #art {
        width: 100vw;
    }
    .col-6.ethos {
        padding: 0 0 0 3vw;
        }
    .col-6.address {
            letter-spacing: 0.15em;
            padding: 51vh 0 0 3vw;
        }
        #train-station {
            font-size: 0.7em;
            vertical-align: middle;
        }
/*
    @media (max-aspect-ratio: 375/667) {
        #ethos1 {display: none}
        #ethos2 {display: none}
        .row-span.spacerA {display: none}
        .row-span.spacer3 {height: width*1877/1419}
    }
    @media (max-aspect-ratio: 426/711) {
        #ethos2 {display: none}
    }
*/
    #working {
        width: 100vw;
        }
    #menu {
        width: 100vw
    }
.footer {
    font-family: "Avenir";
    bottom: 0;
        padding: 2% 0;
        }
        #icons {
            padding: 0 0 .2% 0;
            margin: 0;
            width: 100vw;
            display: flex;
            justify-content: center;
        }
        #instagram {
            font-size: 140%;
            color: white;
        }
        #facebook {
            font-size: 140%;
            color: white;
        }
        #email {
            padding: .2% 0 0 0;
            font-size: 90%;
            color: white;
            letter-spacing: 0.125em;
            display: flex;
            justify-content: center;
        }