    /*
        * {
			border: solid grey .2px;
        }
    */
    html {
        font-family: "Avenir";
        font-size: 1.25em;
        font-weight: 100;
    }

    .bg {
        background: url("table1.jpg");
        width: 100%;
        height: 100vh;
        background-size: 120% auto;
        z-index: -1;
        position: fixed;
        background-repeat: no-repeat;
        background-position: 54% -120px;
    }

    .nav-item {
        list-style: none;
        font-size: 1.6em;
        letter-spacing: .06vw;
        padding: 2vw;
    }

    @media (min-width: 426px) {
        .container-span.menu {
            display: none;}
        .container-span.latte {
            display: none;
        }
        #mobileMenu {
            display: none;
        }
    }
    @media (max-width: 425px) {
        .bg {
            background-size: auto 103vh;
            background-position: center top;
        }
        html {
            font-family: "Avenir";
            font-size: 1em;
        }
        .nav-item {
            font-size: 1.25em;
        }
        .col-6.address {
            font-size: 1.1em;
            line-height: 3vh;
        }
        #ethos {
            padding: 0 0 0 6vw;
        }
        .container-span.menuLatte {
            display: none;
        }
        #browserMenu {
            display: none;
        }
    }
    .container-span.table {
        color: white;
        font-family: "Avenir";
        font-weight: 100;
    }
    .row-span.spacer1 {
        padding: 0;
        margin: 0;
        height: 1vw;
        font-size: 1vw;
        visibility: hidden;
    }

    .row.text {
        padding: 0;
        margin: 0;
    }

    @font-face {
        font-family: Butler-Black;
        src: url(Butler_Black.otf);
    }

    .col-4.enjoy {
        padding: 6vw 0 0 2vw;
        font-family: Butler-Black;
        font-size: 10vw;
        letter-spacing: 0.01em;
        line-height: 9vw;
    }

    .col-2.logo {
        padding: 3vw 0 0 1vw;
    }

    #logo {
        min-width: 11vw;
        max-width: 14vw;
    }

    .row-span.spacer2 {
        padding: 0;
        margin: 0;
        height: 13vh;
        font-size: 1vw;
        visibility: hidden;
    }

    .row.ethos {
        padding: 0;
        margin: 0;
        letter-spacing: 0.018em;
        line-height: 1.2em;
    }

    .col-6.ethos {
        padding: 0 0 0 11vw;
    }

    .col-6.address {
        letter-spacing: 0.15em;
        line-height: 1.35em;
        padding: 0 0 2vw 2vw;
        margin: 0;
        font-size: 1.25em;
    }

    #train-station {
        font-size: 0.7em;
        vertical-align: middle;
    }

    #photo {
        width: 100vw;
    }
    .footer {   
        background: url("wood.png");
        background-size: 100%;
        font-family: "Avenir";
        padding: 0;
    }

    #icons {
        padding: 1vw 0;
        margin: 1vw 0;
        width: 100vw;
        display: flex;
        justify-content: center;
    }

    #instagram {
        font-size: 100%;
        color: black;
    }

    #facebook {
        font-size: 100%;
        color: black;
    }

    #email {
        padding: .2% 0 0 0;
        font-size: .95em;
        font-weight: 475;
        color: black;
        letter-spacing: 0.1em;
        display: flex;
        justify-content: center;
    }