    /*
        * {
			border: solid grey .2px;
        }
    */ 
    .bg {background: url("table1.jpg");
        width: 100%;
        height: 100vh;
        background-size: 100% auto;
        z-index: -1;
        position: fixed;
        background-repeat: no-repeat;
        background-position: 54% -30px;}
    @media (max-width: 425px) {
        .bg {background-size: auto 103vh;
        background-position: center top}
    }
        .container-span.table {color: white;
            font-family: "Avenir";
            font-size: 2.5vh;
            font-weight: 100;}
            .nav-item {list-style: none;
                font-size: 3vh;
                letter-spacing: .06vw;
                padding: 2vw 0vw 2vw 4vw;}
        .row-span.spacer1 {padding: 0; margin: 0;
                height: 1vw;
                font-size: 1vw;
                visibility: hidden; }
        .row.text { padding: 0; margin: 0; }
        @font-face {font-family: Butler-Black;
            src: url(Butler_Black.otf);} 
        .col-4.enjoy {padding: 6vw 0 0 2vw;
                font-family: Butler-Black;
                font-size: 10vw;
                letter-spacing: 0.01em;
                line-height: 9vw;}
        .col-2.logo {padding: 3vw 0 0 1vw;}
            #logo {min-width: 11vw;
                max-width: 14vw;}
        .row-span.spacer2 { padding: 0; margin: 0;
            height: 13vh;
            font-size: 1vw;
            visibility: hidden; }
        .row.ethos { padding: 0; margin: 0;
            letter-spacing: 0.018em;
            line-height: 1.15em; }
        .col-6.ethos {padding: 0 0 0 6vw;}
        .col-6.address {letter-spacing: 0.15em;
                padding: 0 0 2vw 2vw;
                margin: 0;}
            #train-station {font-size: 0.7em;
                vertical-align: middle;}
        #events {width: 100vw;}
        #art {width: 100vw;}
        #working {
            width: 100vw;
            }
        #menu {
            width: 100vw
        }
    footer {
        background: url("adrianConstruct.png");
        background-size: cover;
        width: 100vw;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: 50% bottom;
        font-family: "Avenir";
        padding: 2% 0;
        }
            #icons {
                padding: 0 0 .2% 0;
                margin: 0;
                width: 100vw;
                display: flex;
                justify-content: center;
            }
            #instagram {
                font-size: 140%;
                color: black;
            }
            #facebook {
                font-size: 140%;
                color: black;
            }
            #email {
                padding: .2% 0 0 0;
                font-size: 2.5vh;
                font-weight: 475;
                color: black;
                letter-spacing: 0.1em;
                display: flex;
                justify-content: center;
            }