/*        
    .parallax {
                height: 100%;
                overflow: visible;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
            }
    

        * {
			border: solid black .5px;
        }
*/ 

        .container-span {
            margin:0;
            padding:0 0 1% 0;
            background-image: url("coffeeTable.png");
            background-repeat: no-repeat;
            background-position: top;
            background-size: 100%;
            overflow: visible;
            font-family: "Avenir";
            position: relative;
        }

        @media (min-width: 375px) and (max-width: 440px) {
            p {
                font-size: 92%;
                line-height: 92%;
                letter-spacing: 95%;
            }
        }


        .col-12.d-flex.justify-content-end { 
            padding: 0;
        }

        
        .navbar-6 {
            font-family: "Avenir";
            font-weight: 200;
       }

        .nav-item {
            list-style: none;
            font-size: 2.75vh;
            font-weight: 300;
            padding: 2vw;
        }

        .row.text {
            color: white;
            margin: 0;
            padding: 0; 
        }

        .row.space {
            height: 18vh;
            margin: 0;
            padding: 0;
        }


        @media (min-width:1030px) {
            .responsive-embed {
                padding: 5% 0 0 0;
            }
        }

/*
        .logoWRCC {
            padding: 0 0 0 12%;
            text-align: right;
        }
*/

        @keyframes fade-in {
            0% {
                opacity: 0;
            }
            100% {
                opacity: 1;
            }
        }
 
        #Logo {
            min-width: 10vw;
            max-width: 15vw;
            padding: 0;
            margin: 0 4vw 0 0;
        }

        .container.sections {
            padding: 0;
        }

        .section {
            padding: 0;
            color: black;
        }

/*
        .vertical {
            transform-origin: right;
            transform: rotate(-90deg) translateX(98%) translateY(-30%);
            padding-bottom: 2.5%;
            color: rgb(63, 63, 63);
            animation-delay: 5s;
            animation: fade-in 5s;
        }


        .text {
            padding-left: 7.5%;
            padding-right: 5%;
            border-left: rgb(120, 120, 120) solid;
            animation-delay: 5s;
            animation: fade-in 5s;
        }

        @media (max-width: 1030px) {
            .text {
                border-left: 0px;
            }
        }

        @media (max-width: 355px) {
            .logoWRCC {
                padding: auto;
            }
        }
        @media (min-width: 1200px) {
            .logoWRCC {
                max-width: 100em;
            }
        }
*/
        @font-face {
            font-family: ButlerBlack;
            src: url(Butler_Black.otf);
        }

        #plsEnjoy {
            font-family: ButlerBlack;
            font-size: 9vw;
            font-weight: bold;
            letter-spacing: 0.015em;
            line-height: 0.9em;
            padding: 1.75vw 0 0 2vw;
            margin: 0 0 4vh 0;
        }

        #ethos.row {
            color: white;
            font-size: 1.9vh;
            font-weight: 100;
            line-height: 2.3vh;
            letter-spacing: .03vh;
            margin: 0;
            padding: 8vh 0 0 17.5vw;;
            max-width: 47.5vw;
        }

        .col-6.ethos {
            padding: 0;
            margin: 0;
        }

        @media (max-width: 885px) {
            #ethos.row {
                margin: 0;
                padding: 0 0 0 2vh;
            }
        }

        #p {
            height: 10%;
        }

        .row.ethosAddress {
            margin: 0; 
            padding: 0;
        }

        #address {
            letter-spacing: 0.15vh;
            padding: 0 0 0 2vw;
            margin: 0 0 2vh 0;
            font-size: 2.5vh;
        }
      
        #train-station {
            font-size: 0.7em;
            vertical-align: middle;
        }

        .container.sections {
            padding: 0;
            margin: 0;
        }

        .col-span {
            margin:.5vh 0 0 0;
        }

        .footer {
            bottom: 0;
            width: ;
            margin: 0;
            background-image: ;
            font-family: "Avenir";
            padding: 2% 0 2% 0;
        }

        #icons {
            padding: 0 0 .2% 0;
            margin: 0;
            width: 100vw;
            display: flex;
            justify-content: center;
        }

        #instagram {
            font-size: 140%;
            color: black;
        }

        #facebook {
            font-size: 140%;
            color: black;
        }

        #email {
            padding: .2% 0 0 0;
            font-size: 90%;
            color: black;
            letter-spacing: 0.125em;
            display: flex;
            justify-content: center;

        }